In [1]:
import glob
import pandas as pd
import pyodbc,sqlalchemy,socket
from sqlalchemy.sql import text

In [2]:
lst_file = glob.glob("**/*.json")
print(lst_file)

['access_to_electricity_urban__world\\API_EG.ELC.ACCS.UR.ZS_DS2_en_csv_v2_4367536.json', 'access_to_electricity__total\\API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549.json', 'access_to_elec_rural__world\\API_EG.ELC.ACCS.RU.ZS_DS2_en_csv_v2_4364070.json', 'electricity_power_transmissoin_distribution_losses\\API_EG.ELC.LOSS.ZS_DS2_en_csv_v2_4357259.json', 'electricity_production_nuclear_sources\\API_EG.ELC.NUCL.ZS_DS2_en_csv_v2_4357319.json', 'electricity_production_oil_sources\\API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.json', 'electricity_production_renewable_sources\\API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.json']

In [3]:
# conn = pyodbc.connect(
#     "Driver={SQL SERVER Native Client 11.0};"
#     "Server=DESKTOP-3GIQDP1;"
#     "Database=Evaluation;"
#     "Trusted_Connection=yes;"
# )
# cursor = conn.cursor()

conn = sqlalchemy.create_engine(f'mssql+pyodbc://{socket.gethostname()}/Evaluation?trusted_connetion=yes&driver=ODBC Driver 17 for SQL Server')

for i in lst_file:
    df = pd.read_json(i)
    nam = i.split("\\")[0]
    f_name= nam+".csv"
    df.to_csv(f_name)
    df = pd.read_csv(f_name)
    
    query = "CREATE TABLE "+nam+"(CountryName varchar(100),CountryCode varchar(50), IndicatorName varchar(200),IndicatorCode varchar(200),[1960] float,[1961] float,[1962] float,[1963] float,[1964] float,[1965] float,[1966] float,[1967] float,[1968] float,[1969] float,[1970] float,[1971] float,[1972] float,[1973] float,[1974] float,[1975] float,[1976] float,[1977] float,[1978] float,[1979] float,[1980] float,[1981] float,[1982] float,[1983] float,[1984] float,[1985] float,[1986] float,[1987] float,[1988] float,[1989] float,[1990] float,[1991] float,[1992] float,[1993] float,[1994] float,[1995] float,[1996] float,[1997] float,[1998] float,[1999] float,[2000] float,[2001] float,[2002] float,[2003] float,[2004] float,[2005] float,[2006] float,[2007] float,[2008] float,[2009] float,[2010] float,[2011] float,[2012] float,[2013] float,[2014] float,[2015] float,[2016] float,[2017] float,[2018] float,[2019] float,[2020] float,[2021] float);"

    
    conn.execute(text(query).execution_options(autocommit=True))


    clm = df.iloc[1,1:5]
    clm = clm.to_list()

    for i in range(1960,2022,1):
        clm.append(i)

    df.drop(['Unnamed: 0','66'],axis=1,inplace=True)
    df.drop([0,1],axis=0,inplace=True)

    df.columns = clm

    df.fillna(0, inplace=True)

    df.reset_index()

    

    df.to_sql(nam,con=conn,if_exists="replace",index=False)

In [22]:
tbl = "access_to_electricity_urban__world"
query = "CREATE TABLE "+tbl+"""(CountryName varchar(100),CountryCode varchar(50), IndicatorName varchar(200),IndicatorCode varchar(200),[1960] float,[1961] float,[1962] float,[1963] float,[1964] float,[1965] float,[1966] float,[1967] float,[1968] float,[1969] float,[1970] float,[1971] float,[1972] float,[1973] float,[1974] float,[1975] float,[1976] float,[1977] float,[1978] float,[1979] float,[1980] float,[1981] float,[1982] float,[1983] float,[1984] float,[1985] float,[1986] float,[1987] float,[1988] float,[1989] float,[1990] float,[1991] float,[1992] float,[1993] float,[1994] float,[1995] float,[1996] float,[1997] float,[1998] float,[1999] float,[2000] float,[2001] float,[2002] float,[2003] float,[2004] float,[2005] float,[2006] float,[2007] float,[2008] float,[2009] float,[2010] float,[2011] float,[2012] float,[2013] float,[2014] float,[2015] float,[2016] float,[2017] float,[2018] float,[2019] float,[2020] float,[2021] float);"""
query

'CREATE TABLE access_to_electricity_urban__world(CountryName varchar(100),CountryCode varchar(50), IndicatorName varchar(200),IndicatorCode varchar(200),[1960] float,[1961] float,[1962] float,[1963] float,[1964] float,[1965] float,[1966] float,[1967] float,[1968] float,[1969] float,[1970] float,[1971] float,[1972] float,[1973] float,[1974] float,[1975] float,[1976] float,[1977] float,[1978] float,[1979] float,[1980] float,[1981] float,[1982] float,[1983] float,[1984] float,[1985] float,[1986] float,[1987] float,[1988] float,[1989] float,[1990] float,[1991] float,[1992] float,[1993] float,[1994] float,[1995] float,[1996] float,[1997] float,[1998] float,[1999] float,[2000] float,[2001] float,[2002] float,[2003] float,[2004] float,[2005] float,[2006] float,[2007] float,[2008] float,[2009] float,[2010] float,[2011] float,[2012] float,[2013] float,[2014] float,[2015] float,[2016] float,[2017] float,[2018] float,[2019] float,[2020] float,[2021] float);'

In [4]:
conn2 = sqlalchemy.create_engine(f'mssql+pyodbc://{socket.gethostname()}/Evaluation?trusted_connetion=yes&driver=ODBC Driver 17 for SQL Server')
conn2.execute(text("Create TABle demo3(row int)").execution_options(autocommit=True))

In [ ]:
df = pd.read_csv("ele_urban_world.csv")
df

In [ ]:
df.shape

In [ ]:
print(df.isnull().sum())

In [ ]:
# df.drop(0,axis=0,inplace=True)
# df.reset_index

In [ ]:
# df.fillna(0,inplace=True)

In [ ]:
import pyodbc
conn = pyodbc.connect(
    "Driver={SQL SERVER Native Client 11.0};"
    "Server=DESKTOP-3GIQDP1;"
    "Database=Evaluation;"
    "Trusted_Connection=yes;"
)

# read(conn)
# create(conn)
# update(conn)
# conn.close()

In [ ]:
cursor = conn.cursor()
# cursor.execute("SELECT * FROM Suppliers")

In [ ]:
pyodbc.drivers()

In [ ]:
conn2 = sqlalchemy.create_engine(f'mssql+pyodbc://{socket.gethostname()}/Evaluation?trusted_connetion=yes&driver=ODBC Driver 17 for SQL Server')

df.to_sql("demo1",con=conn2,if_exists="replace",index=False)

In [ ]:
table = 'hello'

In [ ]:
cursor.execute(f"""CREATE TABLE {table}(CountryName varchar(100),CountryCode varchar(50), IndicatorName varchar(200),
IndicatorCode varchar(200),[1960] float,[1961] float,[1962] float,[1963] float,[1964] float,[1965] float,[1966] float,[1967] float,
[1968] float,[1969] float,[1970] float,[1971] float,[1972] float,[1973] float,[1974] float,[1975] float,[1976] float,[1977] float,
[1978] float,[1979] float,[1980] float,[1981] float,[1982] float,[1983] float,[1984] float,[1985] float,[1986] float,[1987] float,
[1988] float,[1989] float,[1990] float,[1991] float,[1992] float,[1993] float,[1994] float,[1995] float,[1996] float,[1997] float,
[1998] float,[1999] float,[2000] float,[2001] float,[2002] float,[2003] float,[2004] float,[2005] float,[2006] float,[2007] float,
[2008] float,[2009] float,[2010] float,[2011] float,[2012] float,[2013] float,[2014] float,[2015] float,[2016] float,[2017] float,
[2018] float,[2019] float,[2020] float,[2021] float)""")

In [ ]:
import os
cursor = conn.cursor()
result = cursor.fetchall()
string = "BULK INSERT {} FROM '{}' (WITH FORMAT = 'CSV');"
file_path = os.getcwd()
# cursor.execute(string.format(df, file_path))
cursor.executemany()

In [ ]:
cursor.execute("""SELECT * FROM sys.Tables;""")

In [ ]:
for row in cursor:
    print(row)

In [ ]:
# df2 = pd.read_csv('ele_urban_world.csv')
# df2.drop([0], axis=0)
clm = df.iloc[0]
clm

In [ ]:
clm = df.iloc[1,1:5]
clm = clm.to_list()
type(clm)

In [ ]:
for i in range(1960,2022,1):
    clm.append(i)

In [ ]:
clm

In [ ]:
# df = pd.read_csv("ele_urban_world.csv")
df.drop(['Unnamed: 0','66'],axis=1,inplace=True)
df.drop([0,1],axis=0,inplace=True)
# df
# df.columns

In [ ]:
df.columns = clm

In [ ]:
df

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.reset_index()

In [ ]:
df.to_csv("demo1.csv")

In [ ]:
df.columns